.header {
    grid-area: h;
    background-color: #2e2e2e;
}

.header img {
    width: 20px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    text-decoration: none;
    color:white;
    padding-right: 10px;
}